channels:
  - conda-forge
dependencies:
  - python=3.13
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - jupyterlab
  - tqdm
  - pip
  - pip:
      - xgboost
      - lightgbm
      - catboost
      - kaggle
